.main{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 65vh;
    width: 90vw;
    border: 1px #777;
    border-radius: 3.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: growFadeIn 0.5s  ;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.main__title{
    display: block;
    color: #333;
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}
.main__section{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: inherit;
}
.main__btnSection{

}
.main__showDataSection{
    height: 100%;
}

  @keyframes growFadeIn {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    80% {
    }
  
    100% {
      opacity: 1;
      height: 65vh;
      width: 90vw;
    }
  }