.main {
  height: auto;
  min-height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
}

.main__title {
  display: block;
  color: #333;
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding-top: 1.2rem;
}
.main__section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-height: 50vh;
}
.main__btnSection {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}
.main__showDataSection {
  min-height: inherit;
}

.footer_table {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
  padding-right: 1.4rem;

  padding-bottom: 1.4rem;
}

@keyframes growFadeIn {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  80% {
  }

  100% {
    opacity: 1;
    height: 65vh;
    width: 90vw;
  }
}

@media (max-width: 81em) {
  .main__section {
    gap: 1.2rem;
  }
  .main__showDataSection {
    width: 100%;
  }
}
@media (max-width: 49em) {
}

@media (max-width: 63em) {
  .main__section {
    flex-direction: column;
    gap: 1.2rem;
  }
}
