.tableSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
.rowNum {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.tableFooter {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center;
  gap: 1.4rem;
}

@media (max-width: 81em) {
  .tableSection {
    width: 100%;
    padding: 0 1.8rem;
  }
  .tableFooter {
    width: 80%;
  }
}

@media (max-width: 63em) {
  .tableSection {
    padding: 0 0.8rem;
  }
  .tableFooter {
    width: 90%;
  }
}

@media (max-width: 35em) {
  .tableSection {
    padding: 0 0;
  }
  .rowNum {
    font-size: 1.4rem;
  }
}
