.thead th {
  background-color: #a12831;
  color: #fff;
  width: 25%;
  padding: 0.6rem 1.4rem;
}

.thead tr th:first-child {
  width: 30%;
}
@media (max-width: 49em) {
  .thead tr th:first-child {
    width: 50%;
  }
}
