.tbody td {
  padding: 0.6rem 1.4rem;
}

.tbody tr:nth-child(even) {
  background-color: rgb(230, 57, 70, 0.8);
  color: #fff;
}
.tbody tr:nth-child(odd) {
  background-color: #fff;
}

@media (max-width: 35em) {
  .tbody td {
    padding: 0.6rem 1.4rem;
  }
}
