.table {
  width: 75%;
  border-collapse: collapse;
  font-size: 1.8rem;
  margin: 1.6rem auto;
}

@media (max-width: 121em) {
  .table {
    width: 70%;
    padding-top: 1.4rem;
    margin: 2.6rem auto;
  }
}

@media (max-width: 81em) {
  .table {
    width: 80%;
    margin-bottom: 1.6rem;
  }
}

@media (max-width: 63em) {
  .table {
    width: 95%;
  }
}

@media (max-width: 63em) {
  .table {
    width: 100%;
  }
}

@media (max-width: 22em) {
  .table {
    font-size: 1.4rem;
  }
}
