.container {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgba(230, 57, 70, 0.8),
    rgba(161, 40, 49, 0.8)
  );
}

.mainContainer {
  padding-bottom: 1.4rem;
}

/* @media (max-height: 42em) {
  .mainContainer {
    transform: translate(0%, -115%);
  }
} */
