.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  width: auto;
  height: 35%;
  min-height: auto;
  transform: translate(0%, -125%);
}

@media (max-height: 42em) {
  .mainContainer {
    transform: translate(0%, -115%);
  }
}
