.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3.6rem;
  width: 100vw;
}

.container__chart,
.container__table {
  background-color: aqua;
  width: inherit;
  height: 50vh;
}
