/*
-- Primary color: #e63946;
- Tints: 
#e63946
#a12831
#f5b0b5
#b82e38

- Greys:
#777
#333

- Whites:
#fff
*/





*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*
    Set up easy to use rem.
    set font size to 62.5%, with this the "defult" font size is now 10px instead of the actual default 16px.
    10 / 16 = 62.5%;
  */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

canvas{
  padding: 1.6rem;
}